@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Zen Kaku Gothic New', sans-serif;
}

body {
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 100%;
}

.contact-container {
    margin-bottom: 100px;
    display: block;
}

.contact-top {
    padding-top: 100px;
    padding-bottom: 150px;
    background: #70e1f5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #ffd194, #70e1f5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #ffd194, #70e1f5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.contact-text h3 {
    font-family: "Poppins", sans-serif;
    font-size: 50px;
    text-align: center;
    color: #EC6B1E;
}

.contact-text p {
    padding-inline: 20px;
    margin-top: 30px;
    font-size: 20px;
    font-weight: bold;
    color: #282d32;
    text-align: center;
}

.contact-but {
    padding-inline: 50px;
    background-color: white;
    display: flex;
    justify-content: space-around;
}

.contact-card {
    position: relative;
    top: -50px;
    width: 100%;
    max-width: 650px;
    padding: 30px;
    border-radius: 10px;
    background-color: #f8b500;
    flex: 1;
}

.contact-card h3 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.contact-card p {
    color: white;
    font-weight: bold;
    margin-top: 20px;
}

.contact-card a {
    text-decoration: none;
}

.contact-card a p {
    color: blue;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-top: 30px;
}

.contact-card a i {
    text-align: center;
}

@media screen and (max-width: 760px){
    .contact-but {
        padding-inline: 20px;
        display: block;
    }

    .contact-card {
        margin-top: 20px;
    }
}

@media screen and (max-width: 360px){

    .contact-text  {
        padding: 20px;
    }

    .contact-text p {
        font-size: 14px;
    }

    .contact-but {
        position: relative;
        top: -100px;
        display: block;
        padding-inline: 20px;
    }

    .contact-card {
        margin-top: 30px;
    }
}
