@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Zen Kaku Gothic New', sans-serif;
}

body {
    align-items: center;
    justify-content: center;
    width: 100%;
}

.footer-container {
  padding-top: 80px;
  padding-left: 50px;
  padding-right: 50px;
  width: 100%;
  background-color: #EC6B1E;
}

.footer-container-mobile {
  display: none;
}

.footer-main {
  display: flex;
  justify-content: space-around;
}

.footer-logo {
  padding-top: 50px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
}

.footer-content h3 {
  color: white;
}

.footer-content a {
  color: white;
  text-decoration: underline;
  margin-top: 10px;
}

.footer-content a:hover {
  color: black;
}

.footer-logo p {
  color: white;
  font-size: 18px;
  font-weight: normal;
}

@media (max-width: 500px) {

    .footer-container {
      display: none;
    }

    .footer-container-mobile {
      background-color: #EC6B1E;
      width: 100%;
      display: block;
      padding: 20px;
    }

    .footer-main {
      display: grid;
    }
}

