{% extends 'base.html' %}
{% load static %}

{% block content %}

<!DOCTYPE html>

<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<script src="https://kit.fontawesome.com/e325191aeb.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{% static 'css/access_style.css' %}" >
<title>Home</title>
</head>

<body>

<div class="access-container">
    <div class="access-header">
        <h3>アクセス</h3>
    </div>

    <div class="access-content">
        <div class="access-text">
            <h3>支店</h3>
            <p>〒064-0809 北海道札幌市中央区南9条西6丁目1-32</p>

            <div class="access-phone">
                <h3>電話番号</h3>
                <p>0120-XXX-YYYY</p>
            </div>
        </div>

        <div class="access-map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2915.66631185447!2d141.3506137!3d43.048451899999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5f0b2989e62a6753%3A0xfa7f528d9ad5c031!2z44CSMDY0LTA4MDkgSG9ra2FpZG8sIFNhcHBvcm8sIENodW8gV2FyZCwgTWluYW1pIDkgSsWNbmlzaGksIDYtY2jFjW1l4oiSMeKIkjMyIOODkuODvOOCuuODk-ODqw!5e0!3m2!1sen!2sjp!4v1702452918861!5m2!1sen!2sjp"
                    width="700" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
            </iframe>
        </div>
    </div>

    <div class="access-content">
        <div class="access-text">
            <h3>事業所</h3>
            <p>〒151-0062 東京都渋谷区元代々木55-3</p>

            <div class="access-phone">
                <h3>電話番号</h3>
                <p>0120-XXX-YYYY</p>
            </div>
        </div>

        <div class="access-map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3241.1434164697826!2d139.6874908!3d35.6734705!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6018f335925a3ad1%3A0x6fc8e29bd02ec80a!2s55-55%20Motoyoyogich%C5%8D%2C%20Shibuya%20City%2C%20Tokyo%20151-0062!5e0!3m2!1sen!2sjp!4v1702452948775!5m2!1sen!2sjp"
            width="700" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
            </iframe>
        </div>
    </div>
</div>

</body>

{% endblock content %}