{% extends 'base.html' %}
{% load static %}

{% block content %}

<!DOCTYPE html>

<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<script src="https://kit.fontawesome.com/e325191aeb.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{% static 'css/news_style.css' %}" >
<title></title>
</head>

<body>
    <div class="news-container">
        <div class="news-header">
            <h3>News</h3>
        </div>

        <div class="news-content">
            <h3>Comming soon....</h3>
        </div>
    </div>

</body>

{% endblock content %}