{% extends 'base.html' %}
{% load static %}

{% block content %}

<!DOCTYPE html>

<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<script src="https://kit.fontawesome.com/e325191aeb.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{% static 'css/eachService_style.css' %}" >
<title>Home</title>
</head>

<body>
    <div class="services-container">
        <div class="services-header">
            <h3>Creative</h3>
            <p></p>
        </div>

        <div class="service-content">
            <h3>Comming soon....</h3>
        </div>
    </div>
</body>

{% endblock content %}