@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    align-items: center;
    justify-content: center;
    background-color: white;
    max-width: 100%;
}

.questions-container {
    padding: 50px;
    margin-top: 200px;
}

.questions-header h3 {
    font-size: 50px;
    font-weight: bold;
    color: #EC6B1E;
}

.questions-header p {
    color: #282d32;
    margin-top: 30px;
    font-size: 20px;
    font-weight: bold;
}

.questions-content {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
}

.questions-card {
    padding: 30px;
    margin-top: 50px;
    border: solid #EC6B1E 2px;
    border-radius: 10px;
}

.questionCard-header {
    display: flex;
    justify-content: space-between;
}

.questionCard-header　h3 {
    font-size: 24px;
    color: #282d32;
    text-overflow: ellipsis;
}

.questionCard-header button {
    border: none;
    background: none;
    cursor: pointer;
}

.questionCard-header i {
    font-size: 24px;
}

.question-answer {
    margin-top: 30px;
    display: none;
}

.question-answer.active {
    display: block;
}